body{
    background-color: #141414;
}
#main_container {
    background-color: #1e1e1e; 
}
.row{
    display: flex;
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
}
.box1{
    display: flex;
}
.box2{
    padding: 10px;
}
.box3{
    padding: 10px;
    color: yellow;
}